axis2-ws-gen/schemas/cosmo/search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cskSearch="http://www.cosmoskymed.it/Search" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.cosmoskymed.it/Search">
	<import namespace="http://www.cosmoskymed.it/Search" location="search.xsd"/>
	<message name="processDirectoryInput">
		<part name="parameters" element="cskSearch:Directory"/>
	</message>
	<message name="processDirectoryOutput">
		<part name="parameters" element="cskSearch:DirectoryReply"/>
	</message>
	<message name="processGuideInput">
		<part name="parameters" element="cskSearch:Guide"/>
	</message>
	<message name="processGuideOutput">
		<part name="parameters" element="cskSearch:GuideReply"/>
	</message>
	<message name="processInventoryInput">
		<part name="parameters" element="cskSearch:Inventory"/>
	</message>
	<message name="processInventoryOutput">
		<part name="parameters" element="cskSearch:InventoryReply"/>
	</message>
	<message name="processQuicklookInput">
		<part name="parameters" element="cskSearch:Quicklook"/>
	</message>
	<message name="processQuicklookOutput">
		<part name="parameters" element="cskSearch:QuicklookReply"/>
	</message>
	<portType name="Search">
		<operation name="processDirectory">
			<input name="processDirectoryInput" message="cskSearch:processDirectoryInput"/>
			<output name="processDirectoryOutput" message="cskSearch:processDirectoryOutput"/>
		</operation>
		<operation name="processGuide">
			<input name="processGuideInput" message="cskSearch:processGuideInput"/>
			<output name="processGuideOutput" message="cskSearch:processGuideOutput"/>
		</operation>
		<operation name="processInventory">
			<input name="processInventoryInput" message="cskSearch:processInventoryInput"/>
			<output name="processInventoryOutput" message="cskSearch:processInventoryOutput"/>
		</operation>
		<operation name="processQuicklook">
			<input name="processQuicklookInput" message="cskSearch:processQuicklookInput"/>
			<output name="processQuicklookOutput" message="cskSearch:processQuicklookOutput"/>
		</operation>
	</portType>
	<binding name="SearchSoapBinding" type="cskSearch:Search">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="processDirectory">
			<soap:operation soapAction="processDirectory"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="processGuide">
			<soap:operation soapAction="processGuide"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="processInventory">
			<soap:operation soapAction="processInventory"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="processQuicklook">
			<soap:operation soapAction="processQuicklook"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Search">
		<port name="Search" binding="cskSearch:SearchSoapBinding">
			<soap:address location="http://map01-im-fe:9001/"/>
		</port>
	</service>
</definitions>
