axis2-ws-gen/schemas/hma/catalogue/0.2.4/catalogue.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  targetNamespace="http://www.opengis.net/cat/wrs/1.0"
  xmlns:wrs="http://www.opengis.net/cat/wrs/1.0"
  xmlns:csw="http://www.opengis.net/cat/csw/2.0.2"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ows="http://www.opengis.net/ows"
  name="catalogue">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.opengis.net/cat/wrs/1.0">
      <xsd:include schemaLocation="ebrim/xsd/wrs.xsd">
      </xsd:include>
      <xsd:import
        schemaLocation="ows/1.0.0/owsGetCapabilities.xsd"
        namespace="http://www.opengis.net/ows">
      </xsd:import>
      <xsd:import
        schemaLocation="ows/1.0.0/owsExceptionReport.xsd"
        namespace="http://www.opengis.net/ows">
      </xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCapabilitiesRequest">
    <wsdl:part
      name="parameters"
      element="csw:GetCapabilities" />
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesResponse">
    <wsdl:part
      name="parameters"
      element="wrs:Capabilities" />
  </wsdl:message>
  <wsdl:message name="GetRecordsRequest">
    <wsdl:part
      name="parameters"
      element="csw:GetRecords"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRecordsResponse">
    <wsdl:part
      name="parameters"
      element="csw:GetRecordsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRecordByIdRequest">
    <wsdl:part
      name="parameters"
      element="csw:GetRecordById"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRecordByIdResponse">
    <wsdl:part
      name="parameters"
      element="csw:GetRecordByIdResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceExceptionReportFault">
    <wsdl:part
      name="parameters"
      element="ows:ExceptionReport"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="catalogue">
    <wsdl:operation name="GetCapabilities">
      <wsdl:documentation>The GetCapabilities operation allows clients to retrieve service metadata from a server.
      </wsdl:documentation>
      <wsdl:input message="wrs:GetCapabilitiesRequest" />
      <wsdl:output message="wrs:GetCapabilitiesResponse" />
      <wsdl:fault
        name="fault"
        message="wrs:ServiceExceptionReportFault" />
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <wsdl:documentation>Search the catalogue content
      </wsdl:documentation>
      <wsdl:input message="wrs:GetRecordsRequest"></wsdl:input>
      <wsdl:output message="wrs:GetRecordsResponse"></wsdl:output>
      <wsdl:fault
        name="fault"
        message="wrs:ServiceExceptionReportFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecordById">
      <wsdl:documentation>Retrieve a single metadata record
      </wsdl:documentation>
      <wsdl:input message="wrs:GetRecordByIdRequest"></wsdl:input>
      <wsdl:output message="wrs:GetRecordByIdResponse"></wsdl:output>
      <wsdl:fault
        name="fault"
        message="wrs:ServiceExceptionReportFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding
    name="catalogueSOAP"
    type="wrs:catalogue">
    <soap:binding
      style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCapabilities">
      <soap:operation soapAction="http://www.opengis.net/cat/csw/2.0.2/requests#GetCapabilities" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault
          use="literal"
          name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <soap:operation soapAction="http://www.opengis.net/cat/csw/2.0.2/requests#GetRecords" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault
          use="literal"
          name="fault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecordById">
      <soap:operation soapAction="http://www.opengis.net/cat/csw/2.0.2/requests#GetRecordById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault
          use="literal"
          name="fault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="catalogue">
    <wsdl:documentation>HMA catalogue web service</wsdl:documentation>
    <wsdl:port
      binding="wrs:catalogueSOAP"
      name="catalogueSOAP">
      <soap:address location="http://localhost/HmaLWS/services/catalogue" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
